*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado{
    width: 100px;
    height: 200px;
    background-color: blueviolet;
}

.circulo{
    width: 100px;
    height: 200px;
    background-color: aqua;
}